p{
    color: black;
    font-size: 16px;
    line-height: 18px;
}

.page{
    height: 100vh;
    background-color: #dbf0d9;  
}

*{
    margin: 0%;
    padding: 0%;
}

.page_top{
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 4vh;
    background-color: rgb(132, 196, 124);
}

.page_con{
    height: 96vh;
    background-color: rgb(132, 196, 124);
}

.title_top_1{
    font-size: 32px;
}

.title_top_2{
    line-height: 26px;
    font-size: 24px;
}

.top_con_1{
    height: 10px;
}